<!DOCTYPE html> 
<html>
    <head>
        
    </head>
    
    
    
    
    <body>
        <h1>Unix Time Stamp</h1>
        <p>date: <%= date %></p>
  
        <p>Time Stamp: <%= dateUnix %></p>
        
    </body>
    
    
    
    
</html>
